ADMIN_EMAILS=evansanders.1000@gmail.com
BACKEND_URL=https://task-joy-box.onrender.com
CF_TUNNEL_URL=https://task-joy-box.onrender.com
CROSS_SITE_COOKIES=true
DATABASE_URL=postgresql://postgres:Orel123yy%40%40@db.csjxuecznqdwhzgudnvk.supabase.co:5432/postgres
ENCRYPTION_KEY=4abce1dbd4c9cae2dab958dc9c6f1ccf5f1cec143ad20bdd7bb4d12e3720ba17
FRONTEND_URL=https://task-joy-box.onrender.com
GOOGLE_CLIENT_ID=920342328322-1so3ocbaio5irpvu81aisab0m2t0ok4o.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
HOST=demonstration-inkjet-unfortunately-lightbox.trycloudflare.com
JWT_SECRET=7f7fd507eb1a291128e98e02aba7986cb500dc80803f2f4bf53322047c5ecd50
NODE_ENV=production
OPENROUTER_API_KEY=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
PAYPAL_CLIENT_ID=AXj0b71tBFOg-vkRZB7YAev4XPzU4WKmV23zW6jcn51iFzllhq2YMh7KmJa_Y1xB00vXOved-7fwvM25
PAYPAL_CLIENT_SECRET=EIvcueC4nx44Zn1fY5ExitsM1eO6L22d9HFxnpIW1xz-S-eKfJCID1dSp2PbXadWjgDSXm6ENNQDAV23
PAYPAL_MODE=live
PORT=3001
RENDER_EXTERNAL_URL=https://task-joy-box.onrender.com/
SESSION_SECRET=myplanner_session_secret
STRIPE_PUBLISHABLE_KEY=pk_test_51StU5d9fAg9NJ4aCZipnvjrVSooH7EQypQOQhlc0o0OZsxlvatX0Ckd7Sh2Z37d3yD09EOsHPZU2xIuODMvJHsMT00HHit49SI
STRIPE_SECRET_KEY=sk_test_51StU5d9fAg9NJ4aCIR5qGjzk1D1FJt6kBHT48QWPZTz5AqaDkgv4APlVTJKKofaqy2XLCRa98A1fSu9PSRrjcJMC00Az722cOh
VITE_GOOGLE_CLIENT_ID=920342328322-1so3ocbaio5irpvu81aisab0m2t0ok4o.apps.googleusercontent.com
